###########################################
# TEMP            
###########################################

[gcode_macro ABS]
gcode:
    M104 S240         ; Hotend 240°C para ABS
    M140 S100         ; Mesa 100°C para ABS
    M190 S100         ; Espera a mesa aquecer a 100°C
    M109 S240         ; Espera o hotend aquecer a 240°C

[gcode_macro PLA]
gcode:
    M104 S210         ; Hotend 210°C para PLA
    M140 S60          ; Mesa 60°C para PLA
    M190 S60          ; Espera a mesa aquecer a 60°C
    M109 S210         ; Espera o hotend aquecer a 210°C

[gcode_macro TPU]
gcode:
    M104 S230         ; Hotend 230°C para TPU
    M140 S50          ; Mesa 50°C para TPU
    M190 S50          ; Espera a mesa aquecer a 50°C
    M109 S230         ; Espera o hotend aquecer a 230°C

[gcode_macro PETG]
gcode:
    M104 S240         ; Hotend 240°C para PETG
    M140 S75          ; Mesa 75°C para PETG
    M190 S75          ; Espera a mesa aquecer a 75°C
    M109 S240         ; Espera o hotend aquecer a 240°C

###########################################
# BED SCREWS            
###########################################

[screws_tilt_adjust]
screw1: 79.5, 50.5
screw1_name: frente_esquerda
screw2: 245, 50.5
screw2_name: frente_direita
screw3: 245, 220.5
screw3_name: traseira_direita
screw4: 79.5, 220.5
screw4_name: traseira_esquerda
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4

[bed_screws]
screw1: 27.5, 39.5
screw1_name: frente_esquerda
screw2: 197.5, 39.5
screw2_name: frente_direita
screw3: 197.5, 209.5
screw3_name: traseira_direita
screw4: 27.5, 209.5
screw4_name: 4

###########################################
# BED MESH            
###########################################

[bed_mesh]
speed: 200
horizontal_move_z: 7
mesh_min: 30,40
mesh_max: 195,200
probe_count: 4,4
mesh_pps: 2,2
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic
adaptive_margin: 5

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE

[gcode_macro MESH_ADAPTIVE]
description: Cria mesh adaptativo na area da peca
gcode:
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

###########################################
# Probe cali            
###########################################

[gcode_macro PROBE_CALIBRATE_SAFE]
gcode:
    G28
    PROBE_CALIBRATE

###########################################
# M600            
###########################################    

[gcode_macro M600]
description: Troca de filamento estilo Marlin para Direct Drive
gcode:
    {% set X = params.X|default(0)|float %}
    {% set Y = params.Y|default(220)|float %}
    {% set Z = params.Z|default(10)|float %}
    
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    
    G91
    G1 E-2 F2400         ; retrai 2mm (ideal para direct drive)
    G1 Z{Z} F600         ; sobe o bico
    G90
    G1 X{X} Y{Y} F6000   ; move para trás para trocar o filamento
    
    G91
    G1 E-15 F1000        ; puxa o filamento pra fora (direct drive)
    G90

    M117 Insira o novo filamento e depois clique em RESUME

###########################################
# CLEAR BED
###########################################

###########################################
# EXTRUDAR 50MM    
########################################### 

###########################################
# Push Off   
########################################### 

###########################################
# Clean Nozzle   
########################################### 

[gcode_macro CLEAN_NOZZLE]
description: Limpa o bico na escova por aproximadamente 30 segundos
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    G90

    # Vai para o início da escova
    G1 X238 F3000

    # Esfrega 75 vezes de um lado para o outro
    {% for i in range(75) %}
        G1 X244.5 F2000
        G1 X238 F2000
    {% endfor %}

###########################################
# Som impressão terminou   
########################################### 

[gcode_macro SOM_FINAL]
description: Toca som de impressao concluida
gcode:
    # chamada do Moonraker aqui
